*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: "Plus Jakarta Sans" , sans-serif;
}

header {
    background-color: #306BB3;
    display: flex;
    justify-content: space-between;

}

.ulheader{
    display: flex;
    justify-content: space-between;
}

li{
    list-style: none;
}

a{
    color: white;
}

footer{
    display: flex;
    background-color: #306BB3;
    justify-content: space-between;
    color: white;
}

section{
    display: flex;
}

footer{
    display: flex;
    color: white;
    justify-content: space-between;
}

li{
    list-style: none;
}

